<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>PlayGround</h1>

        <ul>
            <% for(let i=0; i<6 ; i++){ %>
                <li>
                    <%= i %>
                </li>
            <%}%>
        </ul>

        <% if(true){ %>
            <h1>It's true!</h1>
       <% }else{ %>
        <p>It's False</p>
    <% } %>
    </body>
</html>